html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.awssld__content > img {
  object-fit: contain !important;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  padding-top: 5%;
  padding-bottom: 5%;
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  text-align: center;
}

/* --------- */

/* Navbar Section  */

/* --------- */
.sticky {
  background-color: #1f1f1f !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0 10px 10px 0 rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.8rem !important;
}

.navbar-toggler {
  padding: 0.25rem 1.5rem !important;
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: white !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    background-color: #181a27 !important;
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}

.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 1.4em !important;
  width: 2.5em !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #fff;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */

/* Home Section  */

/* --------- */
#home {
  position: relative;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-bottom: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

  .intro-name {
    color: #fff;
    font-size: 350%;
    font-weight: 900;
  }

  .intro-titles {
    color: #f0f0f0;
    font-size: 250%;
    font-weight: 200;
  }
}

/* --------- */

/* About Section  */

/* --------- */

#about {
  background: #fff;
  overflow: hidden;

  h1 {
    padding-top: 5%;
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
    text-align: center;
  }

  .polaroid {
    > span {
      display: block;
      margin: 55px 75px 30px;
      padding: 15px 15px 30px;
      text-align: center;
      text-decoration: none;
      -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      transition: all 0.2s linear;
      z-index: 0;
      position: relative;
    }

    .profile-pic {
      .awssld__wrapper {
        .awssld__container {
          height: 252px;

          @media screen and (max-width: 375px) {
            height: 180px;
          }

          .awssld__box {
            .awssld__content {
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .wave {
    font-size: 160%;
  }
}

/* --------- */

/* Skills Section  */

/* --------- */

#skills {
  background: #1f1f1f;
  padding-bottom: 6rem;

  .skills-tile {
    background-color: transparentize(#f8f5f4, 0.95);
    padding: 10px 10px 5px 10px;
    width: 100px;
    margin: 5px 0 5px 0;
    border-radius: 8px;
  }
}

/* --------- */

/* Portfolio Section  */

/* --------- */

#portfolio {
  background: #efe1bd;
  padding-bottom: 5%;

  .portfolio-item {
    max-width: 100%;
    margin-bottom: 15px;
    text-align: center;

    .foto {
      img {
        display: block;
        width: 100%;
      }

      div {
        background: #fff;
        display: inline-block;
        margin: 0 auto 5% auto;
        padding: 10px 10px 5px;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
        z-index: 0;
        position: relative;

        &::after {
          color: #333;
          font-size: 25px;
          content: attr(title);
          position: relative;
          top: 15px;
        }

        &:hover {
          -webkit-transform: scale(1.01);
          -moz-transform: scale(1.01);
          transform: scale(1.01);
          z-index: 10;
          -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
          -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        }
      }
    }

    .project-title-settings {
      margin-top: 5%;
      font: 18px/24px 'opensans-bold', sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: black;
      text-align: center;
    }

    .project-date {
      font-size: 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 8px 15px 2px 15px;
      position: relative;
      z-index: -500;
      border-top: 5px solid #696969;
      border-radius: 0 0 5px 5px;
      background-color: #696969;
      color: white;
    }
  }

  @media (min-width: 576px) {
    .closeButtonResponsive {
      display: block;
    }

    .portfolio-item {
      margin-bottom: 30px;
    }
  }

  .portfolio-item-caption {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background-color: rgba(51, 51, 51, 0.9);

    &:hover {
      opacity: 1;
    }

    .portfolio-item-caption-content {
      font-size: 1.5rem;
    }
  }
}

/* --------- */

/* Experiences Section  */

/* --------- */

#resume {
  padding-bottom: 8rem;

  .vertical-timeline::before {
    background: #efe1bd;
  }

  @media only screen and (max-width: 1170px) {
    .experience-icon {
      font-size: 170%;
      margin-top: 27%;
      text-align: center;
    }
  }

  .experience-icon {
    font-size: 300%;
    margin-top: 25%;
    text-align: center;
  }

  .main-badge {
    font-size: 13px !important;
    text-align: left !important;
    padding: 5px 8px 5px 8px !important;
    vertical-align: baseline;
    background-color: #ae944f !important;
    color: white;
    font-weight: lighter !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .experience-badge {
    font-size: 11px !important;
    text-align: left !important;
    padding: 5px 8px 5px 8px !important;
    vertical-align: baseline;
    background-color: #f9f5e9 !important;
    color: black;
    font-weight: lighter !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .vertical-timeline-element-date {
    padding: 0 !important;
    margin: 0 !important;
  }
}

/* --------- */

/* Footer Section  */

/* --------- */

#footer {
  background: #1f1f1f;
  min-height: 100px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: white;
  position: relative;
  text-align: center;

  .social-links {
    margin-top: 50px;
    font-size: 22px;
  }

  a,
  a:visited,
  a:hover,
  a:focus {
    color: #fff;
  }
}
